<div class="service-block">
  <div class="service-short">
    <div class="row">
      <article class="col-3 service-short-icon text-center">
        <img class="img-responsive" src="/images/services/icons/01.png"/>
      </article>
      <article class="col-9 service-short-info">
        <h2>Film</h2>
        <p>Quality productions spanning from silly to serious and indie to professional.</p>
      </article>
    </div>
  </div>
  <div id="service01" class="service-info">
    <div class="row">
      <article class="col-4">
        <h2>Our Vision</h2>
        <p>With over a decade of film production experience, we take pride in creating superior projects through skilled direction, filming, and editing. Our works include short films, music videos, comedy shorts, promotional videos, and other dynamic visuals. Our short films have been featured as the &ldquo;Best of San Diego&rdquo; for the 48 Hour Film Project, and have been recognized for excellent direction, cinematography, screenwriting, and more.</p>
        <p><b>For more information about our film production services, or to learn how we can help you or your business, please contact us today.</b></p>
        <a href="#contact" class="btn btn-primary">Contact Us about Film</a>
      </article>
      <article class="col-8 text-center">
        <div id="accolades-carousel" class="accolades-carousel">
          <div class="item">
            <img class="img-responsive" src="/images/accolades/checkout_club_accolades.jpg"/>
          </div>
          <div class="item">
            <img class="img-responsive" src="/images/accolades/the_big_talkie_accolades.jpg"/>
          </div>
          <div class="item">
            <img class="img-responsive" src="/images/accolades/effective_weapon_accolades.jpg"/>
          </div>
          <div class="item">
            <img class="img-responsive" src="/images/accolades/other_48_accolades_1.jpg"/>
          </div>
          <div class="item">
            <img class="img-responsive" src="/images/accolades/other_48_accolades_2.jpg"/>
          </div>
          <div class="item">
            <img class="img-responsive" src="/images/accolades/space_bat_accolades.jpg"/>
          </div>
          <div class="item">
            <img class="img-responsive" src="/images/accolades/margin_call_accolades.jpg"/>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>

<div class="service-block">
  <div class="service-short">
    <div class="row">
      <article class="col-3 service-short-icon text-center">
        <img class="img-responsive" src="/images/services/icons/02.png"/>
      </article>
      <article class="col-9 service-short-info">
        <h2>Music</h2>
        <p>Electronic music to suit any project.</p>
      </article>
    </div>
  </div>
  <div id="service02" class="service-info">
    <div class="row">
      <article class="col-4">
        <h2>Our Voice</h2>
        <p>Our unique compositions are designed to help convey an extensive range of emotions. Often utilized as an accent to cinematic productions, our innovative electronic scores can enhance any scene without overpowering other elements. <b><i>To listen to samples of our work, please use the score sampler to the right.</b></i></p>
        <p><b>If you are interested in using one of our songs, or would like to have a custom composition created for your film, please do not hesitate to contact us.</b></p>
        <a href="#contact" class="btn btn-primary">Contact Us about Music</a>
      </article>
      <article class="col-8 text-center">
        <iframe width="640" height="416" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/41415241&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
      </article>
    </div>
  </div>
</div>

<div class="service-block">
  <div class="service-short">
    <div class="row">
      <article class="col-3 service-short-icon text-center">
        <img class="img-responsive" src="/images/services/icons/03.png"/>
      </article>
      <article class="col-9 service-short-info">
        <h2>Design</h2>
        <p>Creative t-shirt designs with a cheeky sense of humor and a bit of a nerdy style.</p>
      </article>
    </div>
  </div>
  <div id="service03" class="service-info">
    <div class="row">
      <article class="col-12">
        <h2>Our Concept</h2>
        <p>&ldquo;Pants not Found&rdquo; features t-shirt designs that cater to those who appreciate a good obscure nerd reference, as well as those who have a bit of a twisted sense of humor.</p>
        <p><b>To place an order or submit a request for a custom design, please contact us today.</b></p>
        <a href="#contact" class="btn btn-primary">Contact Us about Design</a>
      </article>
    </div>
  </div>
</div>

<div class="service-block">
  <div class="service-short">
    <div class="row">
      <article class="col-3 service-short-icon text-center">
        <img class="img-responsive" src="/images/services/icons/04.png"/>
      </article>
      <article class="col-9 service-short-info">
        <h2>Technology</h2>
        <p>We are solvers of difficult problems.</p>
      </article>
    </div>
  </div>
  <div id="service04" class="service-info">
    <div class="row">
      <article class="col-12">
        <h2>Our Smarts</h2>
        <p>With a strong background in software engineering and development, we offer Internet consulting and a variety of programming solutions. Specializing in Perl and other programming languages, we strive to find creative ways to solve complex issues.</p>
        <p><b>Please contact us to inquire about our available services. References and example work available upon request.</b></p>
        <a href="#contact" class="btn btn-primary">Contact Us about Technology</a>
      </article>
    </div>
  </div>
</div>
